
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Gajraj+One&family=Gloock&family=Michroma&family=Niconne&family=Oswald:wght@300;400;700&family=PT+Serif&family=Padyakke+Expanded+One&family=Raleway:wght@700&family=Roboto+Mono&family=Roboto:wght@400;700&family=Romanesco&family=Sonsie+One&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navibar
{
  width: 100%;
  top: 0;
  position: fixed !important;
  z-index: 3;
  padding: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  height: 10vh;
  background: #251749;
}
.navi
{
  font-family: "Nunito Sans";
  color: #FFFFFF !important;
}
.navi:hover
{
  background-color: #FFFBEB;
  border-radius: 15px;
  color: #000000 !important;
}
.activeCards
{
  background: rgb(61,100,251);
background: linear-gradient(0deg, rgba(61,100,251,1) 0%, rgba(158,207,255,1) 3%, rgba(217,244,250,1) 20%, rgba(231,244,249,1) 50%, rgba(217,244,250,1) 80%, rgba(188,216,242,1) 98%, rgba(95,127,251,1) 100%);
}
.CardTitle
{
  font-family: 'Anton', sans-serif;
}
.b
{
  font-weight: bold;
}
.uu
{
  text-decoration: underline;
}
.gradBtn
{
  border: 1px solid black;
  background: rgb(42,16,106);
  background: linear-gradient(0deg, rgba(42,16,106,1) 6%, rgba(9,9,149,1) 39%, rgba(2,155,210,1) 92%, rgba(18,187,222,1) 100%);
}
.gradBtn:hover
{
  background: rgb(42,16,106);
  background: linear-gradient(0deg, rgba(18,187,222,1) 6%, rgba(2,155,210,1) 39%, rgba(9,9,149,1) 92%, rgba(42,16,106,1) 100%);
}
.priceBtn
{
  font-family: Roboto Mono;
}
.detailCard
{
  height: 45vh;
}
.fontTitle
{
  font-size: 30px;
}
.fontSubTitle
{
  border: 1px solid black !important;
}
.regBtn
{
  margin-left: 28vh;
}
.errBtn
{
  background: rgb(131,0,23);
background: linear-gradient(0deg, rgba(131,0,23,1) 10%, rgba(223,5,40,1) 50%, rgba(244,69,119,1) 80%);
}
.errBtn:hover
{
  background: rgb(131,0,23);
background: linear-gradient(0deg, rgba(244,69,119,1) 10%, rgba(223,5,40,1) 50%, rgba(131,0,23,1) 80%);
}
.succBtn
{
  border: 1px solid green;
  color: #000000;
  background: rgb(0,131,17);
background: linear-gradient(0deg, rgba(0,131,17,1) 10%, rgba(5,223,56,1) 50%, rgba(69,244,110,1) 80%);
}
.succBtn:hover
{
  border: 1px solid green;
  color: #000000;
  background: rgb(0,131,17);
background: linear-gradient(0deg, rgba(69,244,110,1) 10%, rgba(5,223,56,1) 50%, rgba(0,131,17,1) 80%);
}
.succBtns
{
  border: 2px solid green !important;
  color: black !important;
  background: rgb(0,131,17);
background: linear-gradient(0deg, rgba(0,131,17,1) 10%, rgba(5,223,56,1) 50%, rgba(69,244,110,1) 80%);
}
.succBtns:hover
{
  border: 1px solid green;
  color: #ffffff;
  background: rgb(0,131,17);
background: linear-gradient(0deg, rgba(69,244,110,1) 10%, rgba(5,223,56,1) 50%, rgba(0,131,17,1) 80%);
}
.marginTop
{
  top: 10vh;
}
.marginTopv
{
  margin-top: 100px;
}
.txtCenter
{
  text-align: center;
}
.regForm
{
  width: 40vw;
  margin-top: 110px;
  margin-left: 30%;
  border-radius: 20px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  background: rgb(133,195,255);
background: linear-gradient(0deg, rgba(133,195,255,1) 10%, rgba(172,203,247,1) 50%, rgba(231,244,249,1) 80%);
}
.navBarLogo
{
  margin-left: 40px;
}
.abcd
{
  margin-left: 100px;
}
.marginLeftSearch
{
  margin-left: -20px;
}
.marginLeftNew
{
  margin-left: 10px;
}
.mLeft
{
  margin-left: 20px;
}
.bgblue
{
  background-color: #495579;
  border-radius: 20px;
  border: 5px solid #251749;
}
.glock
{
  font-family: Glock;
}
.cardSize
{
  height: 40vh;
  float: left;
}
.detailBtns
{
  background-color: #495579;
}
.borderRad
{
  border-radius: 20px; 
}
.xxx
{
  float: right;
}
.totalBg
{
  background: #FFFBEB;
  border: 2px solid #251749;
}
.homeBg
{
  background-image: url(../warcr.jpeg);
  position: relative;
  height: 93.5vh;
  width: 100wh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 16px 20px 16px rgba(0,0,0,0.7);
}
.mTop
{
  margin-top: 18vh !important;
}
.txtC
{
  color: #FFFBEB;
}
.fontGlock
{
  font-family: Glock;
  font-size: 65px;
}
.fontGaj
{
  font-family: Bebas Neue;
  font-size: 50px;
}
.bb
{
  font-weight: bold !important;
}
.fontNiconne
{
  font-family: Niconne;
  font-size: 25px;
}